p {
    color: blue;
    background-color: lightgray;
}

#site-header {
    font-size: 55px;
    margin-left: 50px;
}

#site-header:hover {
    color: blueviolet;
}

.site-nav-item {
    font-style: italic;
}

img {
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    border: 20px solid black;
    /* padding: 20px; */
}


h2 {
    text-align: center;
}

.size-units-ex {
    text-align: center;
    background-color: darkcyan;
    width: 75vw;
}

.size-units-ex p{
    width: 50%;
}


